.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown__menu {
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    z-index: 1000;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown__menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    right: 14px;
    height: 1px;
    background-color: #e8eaed;
}

.dropdown__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    cursor: pointer;
    padding: 6px 20px;
    align-items: center;
    gap: 14px;
    justify-items: start;
}

.dropdown__item:first-child {
    margin-top: 5px;
}


.dropdown__item:hover {
    background-color: #f0f0f0;
}